
services:
  postgres:
    image: postgres:15
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: articles
      POSTGRES_USER: articles
      POSTGRES_PASSWORD: articles
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
